%h1= t('.title')
- @lessons.each do |lesson|
  .card.mb-4
    .card-body
      .card-title.fw-bold= lesson.title
      %p.card-text= lesson.summary
      = link_to '詳細へ', '', class: 'btn btn-primary'
